@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,700,900&display=swap');

* {
   box-sizing: border-box;
}

body {
   font-family: 'SourceSansPro';
   color: #fff;
}

.wrapper {
   overflow: hidden;
}

.container {
   max-width: 1140px;
   width: 100%;
   margin: 0 auto;
}

.container--1 {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
}

button {
   padding: 0;
   background: transparent;
   color: #fff;
   border: none;
   cursor: pointer;
}

.button {
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 7px;
   text-transform: uppercase;
}

.button::before {
   content: "";
   display: inline-block;
   height: 2px;
   width: 69px;
   background-color: #fff;
   margin-right: 30px;
   vertical-align: middle;
}


.button--rotate::before {
   display: none;
}

.button--rotate::after {
   content: "";
   display: inline-block;
   height: 2px;
   width: 69px;
   background-color: #fff;
   margin-left: 30px;
   vertical-align: middle;
}

a {
   text-decoration: none;
   color: #fff;
}

/* ============================================ SECTION PREVIEW  ======================================== */

.preview {
   background: #000;
}

.preview .container {
   display: flex;
}

.preview__left {
   padding: 26px 0 232px;
}

.header {
   margin-bottom: 156px;
}



.preview__subtitle {
   font-size: 18px;
   letter-spacing: 10px;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.preview__title {
   font-family: 'Montserrat';
   font-style: normal;
   font-size: 48px;
   line-height: 56px;
   margin-bottom: 30px;
   width: 442px;

}

.preview__text {
   font-size: 15px;
   line-height: 24px;
   width: 448px;
}

.preview__right {
   margin-left: 96px;
}

/* ======================================== SECTION ABOUT ME ============================================ */

.about-me {
   background: #1A1A1A;

}


.about-me__content {
   z-index: 2;
   position: relative;
}

.about-me .container {
   position: relative;
   padding: 120px 0 96px;
}

.about-me__section-title {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 240px;
   line-height: 320px;
   text-align: center;
   color: #6236FF;
   width: 1249px;
   opacity: 0.3;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   top: 0;
   white-space: nowrap;
   z-index: 1;
}

.about-me__avatar {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.avatar {
   margin-bottom: 50px;
   width: 280px;
   height: 280px;
   border-radius: 50%;
   overflow: hidden;
   margin-bottom: 50px;
}

.avatar__icon {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.about-me__name {
   font-size: 18px;
   line-height: 27px;
   text-align: center;
   letter-spacing: 10px;
   text-transform: uppercase;
   margin-bottom: 30px;
}

.about-me__text {
   font-size: 15px;
   line-height: 24px;
   text-align: center;
   max-width: 448px;
}


/* ===============================================   SECTION STATISTICS =================================================== */

.statistics {
   background-image: url(../img/bg-statistics.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding: 120px 0;
}

.container {}

.statistics__content {}

.statistics__list {
   display: flex;
   justify-content: space-between;
   gap: 100px;
}

.statistics__item {
   width: 258px;
   text-align: center;
}

.statistics__value {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 80px;
   line-height: 96px;
   margin-bottom: 14px;
}

.statistics__text {
   font-size: 24px;
   line-height: 32px;
}

/* ============================================== SECTION PLAN  ===================================== */

.plan {
   background: #1A1A1A;
   padding: 92px 0 120px;
}

.plan__content {
   text-align: center;
}


.plan__subititle {
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 10px;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.plan__title {
   font-family: 'Montserrat';
   font-size: 48px;
   line-height: 56px;
   margin-bottom: 84px;
}

.plan__list {
   display: flex;
}

.plan__item {
   flex: 1;
   border: 1px solid #fff;
   padding: 60px 0 60px 30px;
}

.plan__item-title {
   font-family: 'Montserrat';
   font-size: 34px;
   line-height: 51px;
   width: 300px;
   margin-bottom: 27px;
}

.plan__item-list {
   margin: 0 auto;
}

.plan__item-name {
   font-size: 14px;
   line-height: 64px;
   letter-spacing: 4px;
   text-transform: uppercase;
}

.plan__item-cost {
   font-family: 'Montserrat';
   font-size: 34px;
   line-height: 51px;
   text-align: right;
   margin-right: 30px;
   margin-bottom: 20px;
}

.plan__item-button {
   text-align: right;
   margin-right: 30px;
}

/* ================================================ SECTION FORM  ================================================== */

.form {
   background: #1A1A1A;
   padding: 120px 0;
}

.form__content {
   background: #000;
   padding: 51px 0 62px;
   text-align: center;
   margin: 0 auto;
}

.form__title {
   font-family: 'Montserrat';
   font-size: 48px;
   line-height: 56px;
   margin-bottom: 30px;
}

.form__text {
   font-size: 15px;
   line-height: 24px;
   max-width: 644px;
   margin: 0 auto 72px;
}

.form__block {
   display: flex;
   flex-direction: column;
   max-width: 543px;
   margin: 0 auto;

}

.form__input {
   background: transparent;
   border: none;
   border-bottom: 1px solid #fff;
   margin-bottom: 30px;
   outline: none;
   color: #ffff;
   font-size: 18px;
   line-height: 31px;
   padding-left: 10px;
}

.form__input::placeholder {
   font-size: 18px;
   line-height: 31px;

}

.form__button {
   font-size: 15px;
   line-height: 24px;
   letter-spacing: 2px;
   text-transform: uppercase;
   text-align: center;
   border: 1px solid #fff;
   padding: 9px 13px;
   align-self: end;
}

/* ================================================== SECTION GALLERY  ============================================= */

.gallery {
   background: #1A1A1A;
}

.container--1 {}

.gallery__list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(2, 1fr);
}

.gallery__item {
   width: 360px;
   height: 360px;
   transition: opacity 0.4s;
}

.gallery__icon {}

.gallery__item:hover {
   cursor: pointer;
   opacity: 0.5;
}

/* ================================================= SECTION FOOTER   =============================================== */
.footer {
   background: #000;
   padding: 79px 0 81px;
}

.footer .container {
   display: flex;
   justify-content: center;
}

.footer__menu {
   margin-bottom: 30px;
}

.menu__list {
   display: flex;
   align-items: center;
   justify-content: center;

}

.menu__item:not(:last-of-type) {
   margin-right: 32px;
}

.menu__link {
   line-height: 24px;
}

.footer__socials {
   margin-bottom: 30px;
}

.socials__list {
   display: flex;
   justify-content: center;
   gap: 30px;
}

.footer__copyright {
   font-size: 13px;
   line-height: 15px;
   text-align: center;
   letter-spacing: 1.18182px;
   text-transform: uppercase;
}

/* =========================================  SECTION FEEDPACK  ======================================== */

.feedback {
   background: #1A1A1A;
   padding: 35px 0 48px;
}


.feedback__content {
   text-align: center;
   margin-bottom: 109px;
}

.feedback__subtitle {
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 10px;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.feedback__title {
   font-family: 'Montserrat';
   font-size: 48px;
   line-height: 56px;
   max-width: 471px;
   margin: 0 auto;
}

.feedback__list {
   margin-bottom: 49px;
   display: flex;
   gap: 27px;
}

.feedback__item {
   background: #000;
   max-width: 353px;
   padding: 30px 26px 26px;
}

.feedback__text {
   max-width: 300px;
   font-size: 15px;
   line-height: 24px;
   margin-bottom: 24px;
}

.feedback__user {
   display: flex;
   gap: 10px;
}


.feedback__user-name {
   font-family: 'Montserrat';
   font-weight: 900;
   line-height: 24px;
   margin-bottom: 5px;
}

.feedback__user-position {
   font-size: 13px;
   line-height: 16px;
}

.feedback__buttons {
   display: flex;
   justify-content: space-between;
}


.avatar--60 {
   width: 60px;
   height: 60px;
}

/* ============================================== SECTION PORTFOLIO  ================================== */

.portfolio {
   background: #1A1A1A;
   padding: 120px 0;
}


.portfolio__content {
   text-align: center;
   margin-bottom: 109px;
}

.portfolio__subtitle {
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 10px;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.portfolio__title {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 56px;
   margin-bottom: 30px;
}

.portfolio__text {
   font-size: 15px;
   line-height: 24px;
   max-width: 620px;
   margin: 0 auto;
}

.portfolio__list {
   margin-bottom: 86px;
   display: flex;
   justify-content: center;
}


.portfolio__image {
   border-radius: 30px;
}

.portfolio__buttons {
   display: flex;
   justify-content: space-between;
}

/* ============================================ MEDIA ============================================== */

@media screen and (max-width: 550px) {
   .container {
      max-width: 430px;
   }

   .footer {
      padding: 100px 0 48px;
   }

   .gallery__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }

   .gallery__item:nth-child(3) {
      display: none;
   }

   .gallery__item:nth-child(4) {
      display: none;
   }

   .gallery__item:nth-child(7) {
      display: none;
   }

   .gallery__item:nth-child(8) {
      display: none;
   }

   .gallery__item {
      width: 277px;
      height: initial;
      overflow: hidden;
   }

   .gallery__icon {
      width: 277px;
   }

   .gallery__item:nth-child(2) {
      grid-column: 2/3;
      grid-row: 2/3;
   }

   .form .container {
      padding: 50px 0;
   }

   .form__content {
      padding: 32px 50px 58px;
   }

   .plan {
      padding: 100px 0 105px;
   }
   .plan__subititle{
      margin-bottom: 45px;
   }

   .plan__list {
      flex-wrap: wrap;
      padding: 17px 28px 15px;
   }

   .plan__item {
      width: 50%;
      padding: 17px 0 15px 28px;
   }

   .plan__title{
      font-size: 38px;
   }

   .plan__item-title {
      font-size: 28px;
      line-height: 36px;
   }

   .plan__item-name {
      line-height: 50px;
   }

   .plan__item:nth-child(1) {
      border-left: none;
   }

   .plan__item:nth-child(3) {
      border-left: none;
   }

   .plan__item:nth-child(2) {
      border-right: none;
   }

   .plan__item:nth-child(4) {
      border-right: none;
   }

   .plan__item-cost{
      text-align: left;
   }

   .plan__item-button{
      display: none;
   }

   .statistics{
      padding: 50px 0 60px;
   }

   .statistics__list{
      display: flex;
      flex-direction: column;
    align-items: center;
    gap: 45px;
   }

   .statistics__value{
      font-size: 50px;
      line-height: 60px;
   }

   .feedback__buttons{
      padding: 0 45px;
      display: flex;
      gap: 154px;
   }

   .portfolio__buttons{
padding: 0 45px;
   }

   .portfolio__title{
      font-style: 38px;
   }

   .about-me__section-title{
      font-size: 90px;
      bottom: 74px;
   }

   .about-me{
      padding: 46px 0 45px;
   }

   .avatar{
      width: 200px;
      height: 200px;
   }

  .avatar--60{
   height: 60px;
   width: 60px;
  }
   .preview .container{
      flex-direction: column;
   }

   .preview__right{
      
   }

   .preview__img{
      width: 100%;
         height: 100%;
         object-fit: cover;
   }

   .preview__left{
      padding: 41px 0 8px;
   }

   .header{
      margin-bottom: 58px;
   }

   .priview__title{
      font-size: 38px;
      font-weight: 30px;
   }

   .feedback__itme{
      width: 353px;
      flex-shrink: 0;
   }
}